<% card_classes = local_assigns.fetch(:card_classes, '') %>
<% animation_delay = local_assigns.fetch(:animation_delay, '') %>

<div class="card <%= card_classes %> border-0 shadow h-100 <%= animation_delay %>">
    <div class="card-body p-4">
        <%= render 'shared/icon_circle', icon: icon, color: color, size: 'md' %>
        <h4 class="h5 mb-3 mt-3"><%= title %></h4>
        <p class="text-muted mb-0"><%= description %></p>
    </div>
</div>