<% unless current_page?(root_path) %>
<footer class="footer bg-dark py-5" data-bs-theme="dark">
    <div class="container">
        <div class="row align-items-center pb-4">
            <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
                <%= link_to root_path, class: "navbar-brand d-inline-flex text-nav-dark mb-3" do %>
                <%= image_tag "logos/logo_icon_only_transparent.png", width: 47, class: "me-2", alt: "Logo" %>
                <span class="fs-4">gelbhart.dev</span>
                <% end %>
            </div>
            <div class="col-md-6">
                <ul class="nav justify-content-center justify-content-md-end">
                    <li class="nav-item">
                        <%= link_to "Hevy Tracker", oauth_path, class: "nav-link py-2 px-3" %>
                    </li>
                    <%= link_to "Terms", terms_path, class: "nav-link py-2 px-3" %>
                    <%= link_to "Privacy", privacy_path, class: "nav-link py-2 px-3" %>
                    <li class="nav-item">
                        <a href="mailto:gelbharttomer@gmail.com" class="nav-link py-2 px-3">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="text-center text-muted mb-0">
            <span>&copy; <%= Time.current.year %> gelbhart.dev. All rights reserved.</span>
        </p>
    </div>
</footer>
<% end %>