<header class="header bg-dark navbar navbar-expand-lg position-absolute navbar-sticky" data-bs-theme="dark">
  <div class="container px-3">
    <!-- Mobile menu button -->
    <button class="navbar-toggler order-1" type="button" data-bs-toggle="modal" data-bs-target="#mobileMenu" aria-controls="mobileMenu" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Desktop navigation - Left side -->
    <div class="collapse navbar-collapse order-lg-1 d-none d-lg-flex" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center <%= 'active' if projects_with_pages.any? { |p| current_page?(project_link_url(p)) } %>" href="#" id="projectsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bx-code-alt fs-lg me-1"></i>
            Projects
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="projectsDropdown">
            <% projects_with_pages.each do |project| %>
              <li>
                <%= link_to project_link_url(project), class: "dropdown-item d-flex align-items-center #{current_page?(project_link_url(project)) ? 'active' : ''}" do %>
                  <i class="bx <%= project.icon %> fs-lg me-2"></i>
                  <%= project.title %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to contact_path, class: "nav-link d-flex align-items-center #{current_page?(contact_path) ? 'active' : ''}" do %>
            <i class="bx bx-envelope fs-lg me-1"></i> Contact
          <% end %>
        </li>
      </ul>
    </div>
    <!-- Centered Logo -->
    <%= link_to root_path, class: "navbar-brand order-2 order-lg-2 flex-shrink-1 mx-auto header-brand" do %>
      <div class="d-flex align-items-center justify-content-center">
        <%= render 'shared/logo', width: 80, height: 40, css_class: 'header-logo', id: 'header' %>
      </div>
    <% end %>
    <div class="order-3 order-lg-3 flex-shrink-0"></div>
  </div>
</header>
<!-- Mobile Centered Popup Menu -->
<div class="modal fade" id="mobileMenu" tabindex="-1" aria-labelledby="mobileMenuLabel" aria-hidden="true" data-bs-theme="dark">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content mobile-menu-popup">
      <div class="modal-header border-bottom border-secondary">
        <h5 class="modal-title d-flex align-items-center" id="mobileMenuLabel">
          <%= render 'shared/logo', width: 60, height: 30, css_class: 'me-2', id: 'mobile-menu-logo' %>
          <span class="text-white">Menu</span>
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <nav class="mobile-nav">
          <ul class="mobile-nav-list">
            <li class="mobile-nav-item">
              <a class="mobile-nav-link <%= 'active' if projects_with_pages.any? { |p| current_page?(project_link_url(p)) } %>" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#mobileProjectsDropdown" aria-expanded="false" aria-controls="mobileProjectsDropdown">
                <i class="bx bx-code-alt me-2"></i>
                <span>Projects</span>
                <i class="bx bx-chevron-down ms-auto mobile-nav-chevron"></i>
              </a>
              <div class="collapse" id="mobileProjectsDropdown">
                <ul class="mobile-nav-sublist">
                  <% projects_with_pages.each do |project| %>
                    <li>
                      <%= link_to project_link_url(project), class: "mobile-nav-sublink d-flex align-items-center #{current_page?(project_link_url(project)) ? 'active' : ''}", data: { bs_dismiss: "modal" } do %>
                        <i class="bx <%= project.icon %> me-2"></i>
                        <%= project.title %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </li>
            <li class="mobile-nav-item">
              <%= link_to contact_path, class: "mobile-nav-link d-flex align-items-center #{current_page?(contact_path) ? 'active' : ''}", data: { bs_dismiss: "modal" } do %>
                <i class="bx bx-envelope me-2"></i>
                <span>Contact</span>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>