<% size = local_assigns.fetch(:size, 'md') %>
<% icon = local_assigns[:icon] %>
<% size_classes = {'sm' => 'fs-xs', 'md' => '', 'lg' => 'fs-6'} %>
<% size_class = size_classes[size] || '' %>

<span class="badge project-badge bg-<%= color %> bg-opacity-10 text-<%= color %> <%= size_class %>">
    <% if icon.present? %>
    <i class="bx <%= icon %> me-1"></i>
    <% end %>
    <%= text %>
</span>