<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= content_for?(:title) ? yield(:title) : "Gelbhart / Dev" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Theme fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
    <!-- Page wrapper -->
    <main class="page-wrapper" data-controller="theme">
        <%= render 'shared/header' %>

        <!-- Main content -->
        <div class="container pt-5 mt-5">
            <%= yield %>
        </div>

        <%
=begin%>
        <%= render 'shared/footer' %>
        <%
=end%>
    </main>

    <!-- Back to top button -->
    <%= link_to "#top", class: "btn-scroll-top", data: { scroll: "" } do %>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
    <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    <% end %>
</body>

</html>